{% extends 'base.html' %}
{% load static %}
{% block title %} Update Visitor {% endblock %}
{% block content %}

<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div
        class="d-flex card-header justify-content-between align-items-center border-bottom border-dashed"
      >
        <h4 class="header-title">Update Visitor</h4>
        <div class="dropdown">
          <a
            href="#"
            class="dropdown-toggle drop-arrow-none card-drop p-0"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="ti ti-dots-vertical"></i>
          </a>
        </div>
      </div>

      <div class="card-body">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="mb-2">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" value="{{ visitor.name }}" />
          </div>
          <div class="mb-2">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" value="{{ visitor.email }}" />
          </div>
          <div class="mb-2">
            <label for="phone" class="form-label">Phone</label>
            <input type="number" class="form-control" name="phone" value="{{ visitor.phone }}" />
          </div>
          <div class="mb-2">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" name="date" value="{{ visitor.date }}" />
          </div>
          <div class="mb-2">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-control" name="gender">
              <option value="M" {% if visitor.gender == "M" %}selected{% endif %}>Male</option>
              <option value="F" {% if visitor.gender == "F" %}selected{% endif %}>Female</option>
              <option value="O" {% if visitor.gender == "O" %}selected{% endif %}>Other</option>
            </select>
          </div>
          <div class="mb-2">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
      <!-- end card-body-->
    </div>
    <!-- end card-->
  </div>
  <!-- end col -->

  <div class="col-lg-8">
    <div class="card card-h-100">
      <div
        class="card-header d-flex flex-wrap border-bottom border-dashed align-items-center gap-3"
      ></div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
</div>
{% endblock %}
