{% extends 'base.html' %} {% load static %} {% block title %} ADD Visitor LIst
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="d-flex card-header justify-content-between align-items-center">
                <h4 class="header-title">All visitors</h4>
                <a href="{% url 'addvisitor' %}" class="btn btn-sm btn-secondary">Add New <i class="ti ti-plus ms-1"></i></a>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap table-custom table-centered m-0">
                        <thead class="bg-light bg-opacity-50 thead-sm">
                            <tr class="text-uppercase fs-12">
                                <th class="text-muted">Queue #</th>
                                <th class="text-muted">Name</th>
                                <th class="text-muted">Gender</th>
                                <th class="text-muted">EMAIL</th>
                                <th class="text-muted">PHONE</th>
                                <th class="text-muted">Date / Time</th>
                                {% comment %} <th class="text-muted">Assign Dr.</th> {% endcomment %}
                                <th class="text-muted">Status</th>
                                <th class="text-muted">•••</th>
                                <th class="text-muted">EDIT</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for visitor in visitors %}
                            <tr>
                                <td>{{visitor.id}}</td>
                                <td><a href="#" class="link-reset fw-medium">{{visitor.name}}</a></td>
                                <td>{{visitor.gender}}</td>
                                <td>{{visitor.email}}</td>
                                <td>
                                    {{visitor.phone}}
                                </td>
                                {% comment %} <small class="text-muted">11:15 AM</small> {% endcomment %}
                                <td>{{visitor.date}} </td>
                                <td>
                                    <a href="#javascript: void(0);" class="link-reset fw-medium">check In</a>
                                </td>
                                <td><span class="badge bg-success-subtle text-success p-1">Completed</span></td>
                                <td>
                                    {% comment %} <a href="{% url 'editvisitor' visitor.id %}" class="text-muted fs-20"> <i class="ti ti-edit"></i></a> {% endcomment %}
                                    <a href="{% url 'editvisitor' visitor.id %}">Edit</a>

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="align-items-center justify-content-between row text-center text-sm-start">
                        <div class="col-sm">
                            <div class="text-muted">
                                Showing <span class="fw-semibold">7</span> of <span class="fw-semibold">1,243</span> Results
                            </div>
                        </div>
                        <div class="col-sm-auto mt-3 mt-sm-0">
                            <ul class="pagination pagination-boxed pagination-sm mb-0 justify-content-center">
                                <li class="page-item disabled">
                                    <a href="#" class="page-link"><i class="ti ti-chevron-left"></i></a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">3</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link"><i class="ti ti-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>

</div>
                            {% endblock %}